
body {
    font-family: Trebuchet MS;
    background: url(../images/jspimages/background_two.jpg);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.footer_right {
    margin-top: 3px;
    width: 10%; 
    color: white;
    float: right;
}

.left_footer {
    width: 10%; 
    float: left;
    margin-top: 1%;
}
.footer_text{
    text-align: center;
}
.footer_href{
    color: white;
    text-align: center;
}
.header.nav{
    z-index: 999999;
}
.header {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    background-color: #4CAF50;
    width: 100%;
}
.header_href{
    color: black;
    text-align: center;
}
.content {
    padding: 16px;
}

.sticky {

    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}
.sticky.nav{
    z-index: 999999;
}

.top-container {
    background-color: #4CAF50;
    /* margin-top: 5%; */
    /* height: 120px; */
    border-right: solid 1px black;
    position: relative;
    z-index: 3;
    width: 30%;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.top-container-main{
    background-color: #f1f1f1;
    padding: 10px;
    height: 20px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.left_header {
    width: 10%; 
    float: left;
}

.img_header{
    margin-top: -18px;
    padding-top: -8px;
}

.header_right {
    width: 10%;
    color: black;
    float: right;
    margin-top: -10px;
}
.center_header{
    width: 65%; 
    height: 140%;
    text-align: center;
    float: left;
    padding-left: 5%;
    margin-left: 5%;

}
.link {
    width: 100%;
    height: 105%;
    background-color: #4CAF50;
    border-left: solid 1px black;
    border-right: solid 1px black;
    text-align: center;
    float: left;
    margin-top: -20px;
}
.amount {
    width:10%;
    height: 105%;
    text-align: center;
    float: left;
}
.link:hover {background-color: #fff;}

.link a {
    color: black;
    text-decoration: none;
    display: block; /* ?????? ??? ??????? ??????? */
    text-align: center; /* ???????????? ?? ?????? */
    margin-bottom: 10px;
    height: 100%; /* ?????? ?? ???? ???? */
    color: black; /* ???? ?????? */
    margin-top: 18px;
}
#users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    text-align: center;
    margin-right: -15px;
    float: right;
    padding-right: -15px;
    color: black;
    margin-top: 60px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
#publication {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    text-align: center;
    margin-right: -15px;
    float: right;
    padding-right: -15px;
    color: black;
    margin-top: 60px;
    margin-bottom: 130px;
    padding-bottom: 100px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
#mainpublication {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    margin-right: -15px;
    padding-right: -15px;
    color: black;
    margin-bottom: 100px;
    padding-bottom: 100px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#payments {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    text-align: center;
    color: black;
    margin-left: 5%;
    margin-bottom: 100px;
    padding-bottom: 100px;
    margin-top: 60px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}


#users td, #users th, #publication td, #publication th, #mainpublication td, #mainpublication th, #payments td, #payments th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
    text-align: center;
}

#users tr:nth-child(even), #publication tr:nth-child(even), #mainpublication tr:nth-child(even), #payments tr:nth-child(even){
    background-color: #fff;
    text-align: center;}

#users tr:hover, #publication tr:hover, #mainpublication tr:hover, #payments tr:hover {background-color: #ddd;}

#users th, #publication th, #mainpublication th, #payments th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #fff;
    color: black;
}
img.avatar {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img.avatar:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.dotted {
    border-bottom: 2px dotted black;
}

.submit:hover {
    opacity: 0.8;

}
.submit{
    text-align: center;
    font-family: Trebuchet MS;
    cursor: pointer;
    background-color: #4CAF50;
}
.submit-error:hover {
    opacity: 0.8;

}
.submit-error{
    text-align: center;
    font-family: Trebuchet MS;
    cursor: pointer;
    background-color: #D8000C;
}
.error{
    color: red;
    margin-top: -10px;
    padding-top: -5px;
}
.success{
    color: green;
    margin-top: -10px;
    padding-top: -5px;
}
select{
    font-family: Trebuchet MS;
    width: 100%;
    height: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
}
input[type=text], input[type=password], input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);

}
div{
    display: block;
}
.ban{
    width: 10%;
    float: left;
    margin-top: 25px;
    background-color: #f1f1f1;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 5px 5px 5px 5px;
}
.unban{
    width: 10%;
    float: left;
    margin-top: 25px;
    margin-left: 5%;
    background-color: #f1f1f1;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 5px 5px 5px 5px;
}
.ban_button{
    text-align: left;
    font-family: Trebuchet MS;
    width: 50px;
    height: 30px;
    background-color: #4CAF50;
    text-decoration: none;
    padding: .1em 1em;
    cursor: pointer;
}
.unban_button{
    text-align: justify;
    margin-left: 30%;
    padding-left: 30%;
    font-family: Trebuchet MS;
    width: 70px;
    height: 30px;
    background-color: #4CAF50;
    text-decoration: none;
    padding: .1em 1em;
    cursor: pointer;
}
.delete{
    position: absolute;
    left: 16.9%;
    top: 77%;
    width: 9.8%;
    float: left;  
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #f1f1f1;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 5px 5px 5px 5px;
}

input[type="button"]:not(.active) {
    font-family: Trebuchet MS;
    background-color: #f1f1f1;
}

.active {
    font-family: Trebuchet MS;
    background-color: #4CAF50;
    cursor: pointer;
}

input[type="button"]:hover:not(.active) {
    font-family: Trebuchet MS;
    cursor: pointer;
}

.table_button{
    text-align: center;
    font-family: Trebuchet MS;
    cursor: pointer;
    background-color: #4CAF50; 
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal_helper{
    width: 20%;
    padding-left: 40%;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closebalance {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closebalance:hover,close
.closebalance:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.publication {
    width: 20%;
    float: left;
    margin-bottom: 30px;
    background: white;
    margin-top: 60px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.publication-header{
    border-bottom: 1px solid black;
    height: 20%;
    text-transform: uppercase;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
}
.publication-content{
    height: 80%;
    width: 100%;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
}
.action-href{
    color: black;
    margin-bottom: 5%;
}
.action-href:hover{
    opacity: 0.3;
    cursor: pointer;
}
.action-button-href{
    background: none;
}
.pagination {
    display: inline-block;
    position: absolute;
    top: 106%;
    right: 32%;
    text-align: center;
}
.pagination-user {
    display: inline-block;
    position: absolute;
    top: 111%;
    right: 33%;
    margin-bottom: 7%;
    text-align: center;
}


.pagination a, .pagination-admin-users a, .pagination-admin-publications a, .pagination-user a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid black;
    margin: 0 4px;
}

.pagination a.active, pagination-admin-users a.active, pagination-admin-publications a.active, .pagination-user a.active  {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active), .pagination-admin-users a:hover:not(.active), .pagination-admin-publications a:hover:not(.active), .pagination-user a:hover:not(.active) {background-color: #fff;}
.center_header_publication{
    width: 20%; 
    height: 140%;
    text-align: center;
    float: left;
    margin-left: 30%;
}


.publication-two {
    position: absolute;
    top: 54%;
    width: 19.3%;
    float: left;
    background: white;
    margin-bottom: 30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.publication-three {
    position: absolute;
    top: 61%;
    width: 19.3%;
    float: left;
    background: white;
    margin-bottom: 100px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.publication-four {
    background: white;
    position: absolute;
    top: 73%;
    width: 19.3%;
    float: left;  
    margin-bottom: 100px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);

}
.balance{
    width: 30%;
    float: left;
    margin-top: 5%;

}

@media (min-width: 900px) {
    .background {
        padding: 0 0 25px;
    }
}


.panel {
    background-color: #fff;
    padding: 15px 25px;
    width: 70%;
    z-index: 10;
    float: right;
    margin-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
}

.pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .pricing-table {
        flex-direction: row;
    }
}

.pricing-table * {
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #4CAF50;
    padding: 25px;
}

.pricing-plan:last-child {
    border-bottom: none;
}

@media (min-width: 900px) {
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid black;
        flex-basis: 100%;
        padding: 25px 50px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    color: #4CAF50;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
    margin-right: 40px;

}

.pricing-features-item {
    border-top: 1px solid black;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-bottom: 1px solid black;
}


.pricing-price {
    color: #4CAF50;
    display: block;
    font-size: 23px;
    font-weight: 700;
}

.pricing-button {
    border: 2px solid black;
    background: white;
    display: inline-block;
    margin: 25px 0;
    font-family: Trebuchet MS;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55)
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #4CAF50;
    cursor: pointer;

}

.pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
    background-color: #269aff;
}

.publication-content-span{
    border-top: 1px solid black;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
}
.publication-type{
    margin-left: 38%;
    font-size: 24px;
    text-align: center;
}
.user{
    font-size: 30px;
}
.line-1{
    position: relative;
    top: 50%;
    width: 50%;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.right_footer {
    margin-top: 6px;
    color: white;
    float: left;
    float: right;
}

.anim-typewriter{
    animation: typewriter 2s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal; 
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 50%;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}
.pagination-admin-users{
    display: inline-block;
    position: absolute;
    top: 65%;
    right: 32%;
    margin-bottom: 5px;
    text-align: center;
}

.pagination-admin-publications{
    display: inline-block;
    position: absolute;
    top: 112%;
    right: 32%;
    margin-bottom: 45px;
    text-align: center;
}
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
    margin: 60px auto;
    padding: 10px;
    width: 15%;
    text-align: center;
}
.info-msg {
    color: #059;
    background-color: #BEF;
}
.success-msg {
    color: #270;
    background-color: #DFF2BF;
    border: solid 1px black;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
    border: solid 1px black;
}

.success{
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */   
}

.errorpage{margin-left: -20%; text-shadow: 0 1px 0 #ccc,                 0 2px 0 #c9c9c9,                 0 3px 0 #bbb,                 0 4px 0 #b9b9b9,                 0 5px 0 #aaa,                 0 6px 1px rgba(0,0,0,.1),                 0 0 5px rgba(0,0,0,.1),                 0 1px 3px rgba(0,0,0,.3),                 0 3px 5px rgba(0,0,0,.2),                 0 5px 10px rgba(0,0,0,.25),                 0 10px 10px rgba(0,0,0,.2),                 0 20px 20px rgba(0,0,0,.15);font-size: 200px;}

.errorpagediv{
    width: 20%;
    margin: 0 auto;
}