body {
    font-family: Trebuchet MS;
    background: url(../images/jspimages/background_two.jpg);
}
.left_header {
    width: 10%; 
    float: left;
}

.img_header{
    margin-top: -8px;
    padding-top: -8px;
}

.header_right {
    width: 10%; 
    color: white;
    float: right;
    margin-top: 3px;
}
.center_header{
    width: 65%; 
    height: 140%;
    text-align: center;
    float: left;
    padding-left: 5%;
    margin-left: 5%;

}
.header.nav{
    z-index: 999999;
}
.header {
    left: 0;
    height: 40px;
    text-align: center;
    padding: 10px 16px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    background-color: #4CAF50;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}
.header_href{
    color: black;
    text-align: center;
}
.link {
    width: 30%;
    height: 105%;
    box-shadow: 0 0 3px rgba(0,0,0,0.3); /* Цвет фона */
    background-color: #4CAF50;
    text-align: center;
    float: left;
    margin-top: -10px;
}
.link:hover {background-color: #f1f1f1;}

.link a {
    color: black;
    text-decoration: none;
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    margin-bottom: 10px;
    height: 100%; /* Высота на весь слой */
    color: black; /* Цвет ссылки */
    margin-top: 18px;
}
.message{
    text-align: center;
    font-family: Trebuchet MS;
    width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    height: 100%;
}
.alert-box {
    color:#555;
    border-radius:2px;
    font-family:Trebuchet MS;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
    color: black;
}

.notice {
    background:#e3f7fc url('images/jspimages/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.right_footer {
    margin-top: 6px;
    color: white;
    float: left;
    float: right;
}

.left_footer {
    width: 10%; 
    float: left;
    margin-top: 1%;
}
.footer_text{
    text-align: center;
}
.footer_href{
    color: white;
    text-align: center;
}
.center_footer{
    width: 80%; 
    float: left; 
}
#ru_form{
    height: 30%;
    margin-right: 5px;
}
#en_form{
    height: 30%;
    margin-right: 5px;
}